:erb
  <!DOCTYPE html>
%html
%head
  %title Three Seas Forum
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .container
    .row
      .span6
        %ul.thumbnails
          %li.span6
            = link_to root_path, :class => 'thumbnail' do
              = image_tag 'logo.gif'
      .span6.right
        %h1
          the archives
        %p.lead dusted off in read-only
    .row
      .span6
        %ul.nav.nav-pills
          %li= link_to "Users (#{User.count})", users_path
          %li= link_to "Forums (#{Forum.count})", forums_path
          %li= link_to "Topics (#{Topic.count})", topics_path
          %li= link_to "Posts (#{Post.count})", posts_path
          %li= link_to 'FAQ', faq_path
      .span6
        = form_tag search_index_path, :method => :get, :class => 'form-search pull-right' do
          .input-prepend
            %button.btn{:type => 'submit'} Search
            = text_field_tag 'q', nil, :class => 'span2 search-query', :placeholder => params[:q] ||= 'search...'
    .row
      .span12
        %ul.thumbnails
          %li.span12
            .thumbnail
              .decorator &nbsp;
  .container
    .row
      .span12
        = yield
  .container
    .row
      .span12
        %ul.thumbnails
          %li.span12
            .thumbnail
              .decorator &nbsp;
    .row
      .span6
        %ul.nav.nav-pills
          %li= link_to "Users (#{User.count})", users_path
          %li= link_to "Forums (#{Forum.count})", forums_path
          %li= link_to "Topics (#{Topic.count})", topics_path
          %li= link_to "Posts (#{Post.count})", posts_path
          %li= link_to 'FAQ', faq_path
      .span6
        = form_tag search_index_path, :method => :get, :class => 'form-search pull-right' do
          .input-prepend
            %button.btn{:type => 'submit'} Search
            = text_field_tag 'q', nil, :class => 'span2 search-query', :placeholder => params[:q] ||= 'search...'
    .row
      .span12
        %p.center
          The Three Seas Forum archives are hosted and maintained courtesy of
          = link_to 'Jack Brown', 'https://github.com/brownjohnf'
